
<h3> Welcome </h3>
    <h6>Pure veg Restaurent</h6>
   <div class="main">
    <div class="right">
        <div class="row" >
            <div class="col-sm-6" >
              <div class="card" >
                <div class="card-body" >
                  <h5 class="card-title">Login user Details</h5>
                  <p class="card-text"><!--Welcome {{reguser.name}}<br>
                    email :{{reguser.email}}-->
                    
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
               
              
    </div>
    <div class="left">

    </div>
    </div>
    