<div class="main">
<div class="right">
<div class="card-header" style="width: 500px;">
    <h3 class="mb-0">Register</h3>
</div>
<div class="card-body">
    <form class="form" [formGroup]="regform" (ngSubmit)="registeruser()">
        <div class="form-group">
            <label for="uname">Name</label>
            <input id="name" [(ngModel)]='reguser.name' title="name" [class.is-invalid]="regform.get('name').invalid && regform.get('name').touched" formControlName="name" class="form-control rounded-0" name='name' required>
            </div>
                   <div *ngIf="regform.get('name').invalid && regform.get('name').touched">
                <small *ngIf="regform.get('name').errors?.required" class="text-danger">Enter Name</small>
                           
            </div>
            <div class="form-group">
                <label for="mobile">Mobile No</label>
                <input id="mobile" [(ngModel)]='reguser.mobile' title="mobile" [class.is-invalid]="regform.get('mobile').invalid && regform.get('mobile').touched" formControlName='mobile' class="form-control rounded-0" name='mobile' required>
                </div>
                <div *ngIf="regform.get('mobile').invalid && regform.get('mobile').touched">
                    <small *ngIf="regform.get('mobile').errors?.required" class="text-danger">Enter Mobile number</small>
                               
                </div>
        <div class="form-group">
        <label for="username">Email</label>
        <input id="email" [(ngModel)]='reguser.email' title="email" [class.is-invalid]="regform.get('email').invalid && regform.get('email').touched" formControlName='email' class="form-control rounded-0" name='email' required>
        </div>
        <div *ngIf="regform.get('email').invalid && regform.get('email').touched">
            <small *ngIf="regform.get('email').errors?.required" class="text-danger"> email required</small>
            <small *ngIf="regform.get('email').errors?.pattern" class="text-danger">Enter email</small>
       
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="pwd" title="password" [(ngModel)]='reguser.password' [class.is-invalid]="regform.get('password').invalid && regform.get('password').touched" formControlName='password' class="form-control rounded-0" name='password' required>
            </div>
            <div *ngIf="regform.get('password').invalid && regform.get('password').touched">
                <small *ngIf="regform.get('password').errors?.required" class="text-danger">Enter password</small>
                <small *ngIf="regform.get('password').errors?.minlength" class="text-danger">minimum 6 letter</small>
           
        </div>
        <div class="form-group">
            <div class="form-check" >
                <input id="admin"  class="form-check-input" type="radio" name="radios" value="admin" formControlName="radios">
                <label class="form-check-label" for="userRadios1" >Admin</label>
              </div>
              <div class="form-check">
                <input id="user"  class="form-check-input" type="radio" name="radios"  value="user" formcontrolName="radios">
                <label class="form-check-label" for="userRadios2">User</label>
              </div>
        </div>
        <button type="submit" [disabled]="regform.invalid" class="btn btn-success float-left " >Register</button>
        
        </form>
    </div>
</div>
<div class="left">
</div>
</div>
